In [1]:
import datetime as dt
import json
from jinja2 import Template
from pytz import timezone
from matplotlib import pyplot as plt
import pandas as pd
from IPython.display import HTML
from money_squirrel.bin import utils

%matplotlib inline
plt.rcParams['figure.figsize'] = (12, 7)

COINS = utils.load_config("coins")

def display_all(df):
    return HTML(df.to_html())

2017-07-13 03:40:58,789|money_squirrel.bin.utils|INFO|Instantiated logger w/ name=money_squirrel.bin.utils
2017-07-13 03:40:58,792|money_squirrel.bin.utils|INFO|Loading JSON from /Users/ravdek/code/money_squirrel/money_squirrel/config/coins.json

In [73]:
df = utils.query_pg("""
    select *
    from trends_api_interestovertime
""")

2017-07-13 05:12:49,776|money_squirrel.bin.utils|INFO|Loading JSON from /Users/ravdek/code/money_squirrel/money_squirrel/config/postgres.json
2017-07-13 05:12:49,778|money_squirrel.bin.utils|INFO|Connecting to postgres DB @ localhost
2017-07-13 05:12:49,781|money_squirrel.bin.utils|INFO|Executing query:


    select *
    from trends_api_interestovertime

In [74]:
df.shape

(92610, 7)

In [75]:
df.head()

,id,geo,dt,start_dt,end_dt,scores,search_terms
0,None,None,2017-07-11 00:00:00,2017-07-06 05:00:00,2017-07-13 05:00:00,"{""litecoin"": 7, ""ethereum"": 42, ""bitcoin"": 87}","bitcoin, ethereum, litecoin"
1,None,None,2017-07-11 00:00:00,2017-07-06 05:00:00,2017-07-13 05:00:00,"{""litecoin"": 7, ""ethereum"": 42, ""bitcoin"": 87}","bitcoin, ethereum, litecoin"
2,None,None,2017-07-07 11:00:00,2017-07-06 05:00:00,2017-07-13 05:00:00,"{""litecoin"": 5, ""ethereum"": 21, ""bitcoin"": 62}","bitcoin, ethereum, litecoin"
3,None,None,2017-07-07 11:00:00,2017-07-06 05:00:00,2017-07-13 05:00:00,"{""litecoin"": 5, ""ethereum"": 21, ""bitcoin"": 62}","bitcoin, ethereum, litecoin"
4,None,None,2017-07-11 22:00:00,2017-07-06 05:00:00,2017-07-13 05:00:00,"{""litecoin"": 6, ""ethereum"": 39, ""bitcoin"": 79}","bitcoin, ethereum, litecoin"

In [76]:
df.groupby('end_dt')['search_terms'].count()

end_dt
2017-07-01 20:00:00    338
2017-07-01 21:00:00    338
2017-07-01 22:00:00    338
2017-07-01 23:00:00    338
2017-07-02 00:00:00    338
2017-07-02 01:00:00    338
2017-07-02 02:00:00    338
2017-07-02 03:00:00    338
2017-07-02 04:00:00    338
2017-07-02 05:00:00    338
2017-07-02 06:00:00    338
2017-07-02 07:00:00    338
2017-07-02 08:00:00    338
2017-07-02 09:00:00    338
2017-07-02 10:00:00    338
2017-07-02 11:00:00    338
2017-07-02 12:00:00    338
2017-07-02 13:00:00    338
2017-07-02 14:00:00    338
2017-07-02 15:00:00    338
2017-07-02 16:00:00    338
2017-07-02 17:00:00    338
2017-07-02 18:00:00    338
2017-07-02 19:00:00    338
2017-07-02 20:00:00    338
2017-07-02 21:00:00    338
2017-07-02 22:00:00    338
2017-07-02 23:00:00    338
2017-07-03 00:00:00    338
2017-07-03 01:00:00    338
                      ...
2017-07-12 00:00:00    338
2017-07-12 01:00:00    338
2017-07-12 02:00:00    338
2017-07-12 03:00:00    338
2017-07-12 04:00:00    338
2017-07-12 05:00:00    338
2017-07-12 06:00:00    338
2017-07-12 07:00:00    338
2017-07-12 08:00:00    338
2017-07-12 09:00:00    338
2017-07-12 10:00:00    338
2017-07-12 11:00:00    338
2017-07-12 12:00:00    338
2017-07-12 13:00:00    338
2017-07-12 14:00:00    338
2017-07-12 15:00:00    338
2017-07-12 16:00:00    338
2017-07-12 17:00:00    338
2017-07-12 18:00:00    338
2017-07-12 19:00:00    338
2017-07-12 20:00:00    338
2017-07-12 21:00:00    338
2017-07-12 22:00:00    338
2017-07-12 23:00:00    338
2017-07-13 00:00:00    338
2017-07-13 01:00:00    338
2017-07-13 02:00:00    338
2017-07-13 03:00:00    338
2017-07-13 04:00:00    338
2017-07-13 05:00:00    336
Name: search_terms, Length: 274, dtype: int64

In [77]:
for k in json.loads(df.loc[0, 'scores']):
    df[k] = df['scores'].apply(lambda z: json.loads(z).get(k))

In [79]:
df[df.dt == df.end_dt].head().set_index('dt')[['litecoin', 'bitcoin', 'ethereum']]

                     litecoin  bitcoin  ethereum
dt
2017-07-13 04:00:00         5       84        28
2017-07-13 04:00:00         5       84        28
2017-07-13 03:00:00         6       84        27
2017-07-13 03:00:00         6       84        27
2017-07-13 02:00:00         6       81        27